<div class="container rounded bg-gradient bg-warning" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row">
        <div class="col text-center"> <h2>Invoice Detail</h2></div>
    </div>
    <div class="row cols-12-sm-">
        <div class="col-sm-2">
            <label for="productid" class="form-label">Product Id </label>
            <input type="number" class="form-control" name="productid " id="productid" placeholder="Product Id">
        </div>
        <div class="col-sm-2">
            <label for="product-name" class="form-label">Product Name</label>
            <input type="text" class="form-control" name="productname" id="product-name" placeholder="Product Name">
        </div>
        <div class="col-sm-2">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount">
        </div>
        <div class="col-sm-2">
            <label for="unitvalue" class="form-label">Unit value</label>
            <input type="number" class="form-control" name="unitvalue" id="unitvalue" placeholder="Unit value">
        </div>
        <div class="col-sm-2">
            <button>+</button>
        </div>
        <div class="col-sm-2">
            <button>-</button>
        </div>
    </div>
    <div class="row cols-12">
        <div class="col text-center"> <h2>Invoice Detail</h2></div>
    </div>
    <div class="row cols-12-sm-">
        <div class="col-sm-2">
            <label for="productid" class="form-label">Product Id </label>
            <input type="number" class="form-control" name="productid " id="productid" placeholder="Product Id">
        </div>
        <div class="col-sm-2">
            <label for="product-name" class="form-label">Product Name</label>
            <input type="text" class="form-control" name="productname" id="product-name" placeholder="Product Name">
        </div>
        <div class="col-sm-2">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount">
        </div>
        <div class="col-sm-2">
            <label for="unitvalue" class="form-label">Unit value</label>
            <input type="number" class="form-control" name="unitvalue" id="unitvalue" placeholder="Unit value">
        </div>
        <div class="col-sm-2">
            <button>+</button>
        </div>
        <div class="col-sm-2">
            <button>-</button>
        </div>
    </div>
</div>