<h1 class="bg-primary container">Systems the bills Hunters </h1>
<div class="container rounded bg-gradient bg-warning" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div class="row">
        <div class="col text-center"> <h2>Header the Bill</h2></div>
    </div>
    <div class="row cols-12">
        <div class="col-sm-4">
            <label for="N_Bill" class="form-label">Bill Number</label>
            <input type="number" class="form-control" name="N_Bill" id="N_Bill" placeholder="Type to number bill">
        </div>
        <div class="col-sm-4">
            <label for="Bill_Date" class="form-label">Date</label>
            <input type="date" class="form-control" name="N_Bill" id="Bill_Date" placeholder="Date">
        </div>
        <div class="col-sm-4">
            <label for="Seller" class="form-label">Seller</label>
            <input type="text" class="form-control" name="Seller" id="Seller" placeholder="Seller">
        </div>
    </div>
    <div class="row cols-12">
        <div class="col-sm-4">
            <label for="Identification" class="form-label">Client Id</label>
            <input type="number" class="form-control" name="Identification" id="Identification" placeholder=" Identification">
        </div>
        <div class="col-sm-4">
            <label for="Full_Name" class="form-label">Full name</label>
            <input type="text" class="form-control" name="Full_Name" id="Full_Name" placeholder="Full name">
        </div>
        <div class="col-sm-4">
            <label for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" name="Email" id="Email" placeholder="Email">
        </div>
    </div>
    <div class="row cols-12">
        <div class="col-sm-8">
            <label for="Address" class="form-label">Address</label>
            <input type="text" class="form-control" name="Address" id="Address" placeholder="Address">
        </div>
        <div class="col-sm-4">
            <label for="Phone_Number" class="form-label">Phone Number</label>
            <input type="text" class="form-control" name="Phone_Number" id="Phone_Number" placeholder="Phone Number">
        </div>
       
    </div>

</div>